/* Catppuccin Mocha Palette */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color text   #cdd6f4;
@define-color blue   #89b4fa;
@define-color red    #f38ba8;

* {
  font-family: "JetBrainsMono Nerd Font";
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @mantle;
}

.notification-row {
  outline: none;
  margin: 10px;
  padding: 0;
}

.notification {
  background: transparent;
  padding: 0;
  margin: 0px;
}

.notification-content {
  background: @base;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid @blue;
  margin: 0;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 12px;
}

.close-button {
  background: @red;
  color: @base;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 5px;
  margin-right: 5px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @text;
  background: @base;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  color: @blue;
}

.body {
  font-size: 14px;
  font-weight: 400;
  color: @text;
}

/* Control panel */
.control-center {
  background: @base;
  border: 2px solid @blue;
  border-radius: 12px;
}

.widget-title {
  color: @blue;
  background: @base;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  border-radius: 12px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text;
  text-shadow: none;
  background: @base;
  border: 1px solid @blue;
  box-shadow: none;
  border-radius: 12px;
}

.widget-title > button:hover {
  background: @blue;
  color: @base;
}

.widget-dnd {
  background: @base;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: @text;
}
